<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tank_right">
  <xacro:macro name="tank_right" params="connected_to:='' rpy:='0 0 0' xyz:='0 0 0'">

    <xacro:unless value="${connected_to == ''}">
      <joint name="tank_right_to_trolley_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="tank_right_tag"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>

    <link name="tank_right_tag_mount">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://cgras_scene/meshes/visual/Tag_Mount.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://cgras_scene/meshes/visual/Tag_Mount.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="tank_right">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
        <geometry>
          <mesh filename="package://cgras_scene/meshes/visual/SettlementSystemRight.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
        <geometry>
          <mesh filename="package://cgras_scene/meshes/collision/SettlementSystemRight.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="tank_right_tag"/>

    <!--the tag to the mount-->
    <joint name="tank_right_tag_to_mount_joint" type="fixed">
      <parent link="tank_right_tag"/>
      <child link="tank_right_tag_mount"/>
      <origin xyz="0.014 0 -0.082" rpy="0 0 0"/>
    </joint>
    
    <!-- Where the tag is on the tank -->
    <joint name="tank_base_joint_right" type="fixed">
      <parent link="tank_right_tag_mount"/>
      <child link="tank_right"/>
      <origin xyz="0.41 0.06 -1.080" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>